:local(.root) {
  padding: 16px;
  height: 100%;
  box-sizing: border-box;

  @media screen and (min-width: 960px) {
    width: calc(100% - 256px);
    left: 256px;
    position: relative;
  }
}

@keyframes slowpoint {
  0% {
    left: -0.2rem;
  }
  50% {
    left: 0.2rem;
  }
  100% {
    left: -0.2rem;
  }
}

:local(.infoPoint) {
  @media screen and (min-width: 960px) {
    position: absolute;
    z-index: 2;
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px;
  padding: 8px 16px 8px 8px;

  i {
    animation: slowpoint 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    margin-right: 1.5rem;
    font-size: 2rem;
  }
}

:local(.getStarted) {
  .pun-finn {
    font-weight: 700;
    color: #2B3D54;
  }

  .pun-diff {
    font-weight: 700;
    color: #60A65F;
  }

  @media screen and (min-width: 960px) {
    .new-code {
      top: 190px;
    }

    .existing-ad {
      top: 410px;
    }
  }
}
