:local(.root) {
  max-width: 900px;
}

:local(.history) {
  display: flex;
  align-items: flex-end;
  white-space: pre;

  .material-icons {
    font-size: 16px !important;
  }
  /* > div:last-child {
    > :not(:first-child):not(.show) {
      display: none;
      background-color: hotpink;
    }
  }*/
}
