body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

body .nano-spinner-bounce {
  color: #f7b9bc;
  margin-left: 8px;
}

p, div {
  white-space: pre-line;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 8px;
  margin-bottom: 16px;
}

p {
  margin: 4px;
  margin-bottom: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
}

.material-icons {
  color: rgba(0, 0, 0, 0.54);
}
