:local(.watched) {
  top: 84px;

  > div {
    display: flex;
    flex-direction: column;
  }

  .watched-ad-item {
    .finnCode {
      font-weight: 700;
    }

    .description {
      font-size: 0.8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i.material-icons {
      top: 4px !important;
    }
  }
}

:local(.watchedList) {
  flex: 1 0 auto;
}

:local(.logoButton) {
  position: relative;
  height: 96px !important;
  width: 96px !important;
  flex: 0 0 auto;

  > div {
    > div {
      position: absolute;
      height: 72px;
      width: 72px;
    }
  }
}

:local(.logoHeader) {
  display: flex;
  flex-direction: column;
}
