:local(.root) {
  max-width: 900px;

  h1 {
    display: flex;
  }

  .nano-spinner-bounce {
    height: 200px;
  }

  hr {
    margin: 8px 0 !important;
  }
}

:local(.descriptiveList) {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  @media screen and (max-width: 440px) {
    display: block;
  }

  dt {
    display: flex;
    align-items: center;
    flex: 0 0 170px;

    @media screen and (max-width: 440px) {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  dd {
    @media screen and (max-width: 440px) {
      margin-left: 8px;
    }
  }

  > div {
    margin: 4px 0;
    display: flex;
    align-items: flex-start;
    flex: 1 0 calc(100% - 170px);

    @media screen and (max-width: 440px) {
      display: block;
    }
  }
}

:local(.popover) {
  .inner-display {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    > div {
      margin-left: 8px;
      display: flex;
      align-content: center;

      .weak-text {
        margin-left: 4px;
      }
    }
  }
}